<?xml version="1.0" encoding="UTF-8"?>
<plugin
		xmlns="http://apache.org/cordova/ns/plugins/1.0"
		xmlns:android="http://schemas.android.com/apk/res/android"
		id="cordova-plugin-app-launcher"
		version="0.4.1">

	<name>Launcher</name>
	<description>
		This plugin allows you to see if other apps are installed and launch them. On Android, you can send extras to the launched Activity and receive result data (if available), as well as retrieve a list of applications that can open a specified uri.
	</description>
	<author>Jay Bowman</author>
	<license>MIT</license>
	<engines>
			<engine name="cordova" version=">=6.0.0" />
	</engines>
	<js-module src="www/Launcher.js" name="Launcher">
			<clobbers target="plugins.launcher" />
	</js-module>

	<!-- ios -->
	<platform name="ios">
			<config-file target="config.xml" parent="/*">
				<feature name="Launcher">
						<param name="ios-package" value="Launcher" />
				</feature>
			</config-file>		
			<source-file src="src/ios/Launcher.swift" />
			<source-file src="src/ios/AppPrivate.swift" />
			<source-file src="src/ios/MapConstants.swift" />
			<!-- map controler replaced by navigat route view controller 
				<source-file src="src/ios/MapViewController.swift" />
			<source-file src="src/ios/MapViewController.xib" /> -->
			<source-file src="src/ios/NavigateRouteViewController.swift" />
			<source-file src="src/ios/NavigateRouteViewController.xib" />
			<source-file src="src/ios/DirectionsViewController.swift" />
			<source-file src="src/ios/DirectionsViewController.xib" />
			<podspec>
				<config>
				</config>
				<pods use-frameworks="true">
					<pod name="ArcGIS-Runtime-SDK-iOS"  spec="100.10" />
				</pods>
			</podspec>
	</platform>

	<!-- android -->
	<platform name="android">
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="Launcher">
					<param name="android-package" value="com.hutchind.cordova.plugins.launcher.Launcher" />
			</feature>
		</config-file>
		<source-file src="src/android/Launcher.java" target-dir="src/com/hutchind/cordova/plugins/launcher" />
		<source-file src="src/android/ParseTypes.java" target-dir="src/com/hutchind/cordova/plugins/launcher" />
		<framework src='com.esri.arcgisruntime:arcgis-android:100.9.0' />
    	<framework src='androidx.appcompat:appcompat:1.2.0' />
    	<framework src='androidx.constraintlayout:constraintlayout:2.0.2'/>
    	<framework src='info.androidhive:fontawesome:0.0.5'/>
    	<framework src='com.google.android.material:material:1.2.1'/>
		<lib-file src="src/android/maplibrary-release.aar" />
	</platform>
</plugin>
